@charset "utf-8";
/* CSS Document */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Quicksand', sans-serif;
    scroll-behavior: smooth;
    font-size: 14px;
}
body {
    width: 100vw;
    height: 100vh;
    background-color: lightgrey;
    overflow-x: hidden;
    /*
    --orange-color: #F7931E;
    --white-color: #EBE8E9;
    --grey-color: #565554;
*/
}
body::-webkit-scrollbar {
    width: 1em;
    color: lightgrey;
}
body::-webkit-scrollbar-thumb {
    width: 10vh;
    overflow: auto;
    background: -webkit-gradient(linear, left top, left bottom, from(#565554), to(#3F3E3E));
    border-radius: 6px;
    box-shadow: inset 2px 2px 2px hsla(0, 0%, 100%, .25), inset -2px -2px 2px rgba(0, 0, 0, .25);
}
body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6p rgba(0, 0, 0, 0.3);
    background-color: lightgrey;
}
/*HEADER.........................................................................................................................................*/
header {
    height: 100px;
    background-color: rgba(75, 74, 73, 1.00);
    display: flex;
    position: fixed;
    z-index: 1;
}
.menu li a {
    transition: all 0.4s ease 0s;
    font-size: 1.1em;
    color: #BBB8B8;
    font-weight: bold;
    text-decoration: none;
}
.menu li a:hover {
    color: #F7931E;
}
.fb:hover, .insta:hover {
    filter: invert(0.34) sepia(1) saturate(12.2) hue-rotate(0deg) brightness(0.85);
}
nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100vw;
}
.menu {
    list-style: none;
    display: flex;
}
.menu li {
    margin: 0em 5em;
}
.logo {
    width: 110px;
    animation-name: logoanim;
    animation-duration: 6s;
    animation-delay: 0.1s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
    animation-direction: alternate;
}
@keyframes logoanim {
    to {
        transform: rotate(360deg);
        border-radius: 1em;
    }
}
.hamburger {
    font-size: 1em;
    color: rgba(247, 147, 30, 0.66);
    display: block;
    position: absolute;
    cursor: pointer;
}
.fa-ellipsis-h {
    font-size: 4em;
}
.menu.visible {
    visibility: visible;
}
.menu.hidden {
    visibility: hidden;
}
@media only screen and (min-width: 1024px) {
    .hamburger {
        display: none;
    }
}
@media only screen and (max-width: 750px) {
    .menu {
        /*        visibility: hidden;*/
        /*        display:none;*/
    }
    nav {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-top: 0em;
    }
    #menu1, #meniu2, .social {
        flex-direction: column;
        order: 2;
        background-color: rgba(75, 74, 73, 0.8);
        width: 35%;
        justify-content: center;
        align-items: center;
    }
    #menu1 {
        margin-top: 1em;
    }
    .menu li a {
        font-size: 1.5em;
    }
    .hamburger {
        display: flex;
        justify-content: center;
        padding-bottom: 0.5em;
    }
    .logo {
        justify-content: flex-end;
        padding: 10em 0em 0em 0em;
        order: 1;
    }
    header .social {
        display: none;
    }
}
/*ACASA..............................................................................................................................................*/
.cover2 img {
    width: 50vw;
    min-width: 600px;
    height: auto;
    display: flex;
    float: right;
    overflow: auto;
}
#acasa::after {
    content: "";
    clear: both;
    display: table;
}
.contentleft {
    float: left;
    width: 50%;
    height: 100vh;
}
#acasa .contentleft h1 {
    font-weight: 400;
    font-size: 2.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2em;
    margin-top: 4em;
}
#acasa .buton {
    display: flex;
    align-content: center;
    padding: 4em;
}
a.prog {
    text-decoration: none;
    color: inherit;
}
#acasa .prog {
    position: relative;
    margin: auto;
    padding: 17px 13px;
    transition: all .2s ease;
}
.prog:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    border-radius: 28px;
    background-color: rgba(247, 147, 30, 0.76);
    width: 56px;
    height: 56px;
    transition: all .3s ease;
}
.buton span {
    position: relative;
    font-size: 16px;
    font-weight: 900;
    letter-spacing: 0.25em;
    vertical-align: middle;
}
svg {
    position: relative;
    top: 0;
    margin-left: 10px;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    transform: translateX(-5px);
}
#acasa a.prog:hover::before {
    width: 87%;
    transform: translateX(0);
}
a.prog:active {
    transform: scale(0.90);
}
@media only screen and (max-width: 750px) {
    .cover2 img {
        width: 100vw;
        height: auto;
        display: block;
        position: absolute;
        z-index: -1;
    }
    #acasa .contentleft {
        width: 100%;
        height: auto;
        margin-top: 8em;
    }
    #acasa .contentleft h1 {
        font-size: 2em;
        background-color: rgba(209, 209, 209, 0.3);
        margin-top: 6em;
    }
    #acasa .buton {
        padding: 2em 1em 2em 4em;
    }
}
/*CONCEPT.....................................................................................................................................*/
.cover1 img {
    width: 50vw;
    min-width: 600px;
    height: auto;
    display: flex;
    float: left;
    overflow: auto;
}
#concept {
    content: "";
    clear: both;
    display: table;
}
#concept_anchor {
    position: relative;
    top: -100px;
}
.contentright {
    float: right;
    width: 50%;
    height: 100vh;
}
.contentleft {
    float: left;
    width: 50%;
    height: 100vh;
}
.title {
    font-weight: 400;
    font-size: 2.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4em 1em 2em 1em;
}
.title::before, .title::after {
    content: '';
    height: 15px;
    width: 15px;
    background-color: #F7931E;
    border-radius: 100%;
    display: inline-block;
}
p {
    line-height: 2;
    font-size: 1.3em;
    padding: 0em 2em;
    word-spacing: 3px;
    text-align: justify;
    text-indent: 1em;
}
#concept h3 {
    font-size: 18px;
    text-align: center;
    line-height: 2;
    letter-spacing: 1em;
    color: #565554;
}
@media only screen and (max-width: 650px) {
    .cover1 img {
        display: none;
    }
    #concept .contentright {
        width: 100%;
        float: none;
    }
    #concept {
        display: flex;
    }
    #concept p {
        font-size: 1.2em;
        padding: 0em 1em;
        word-spacing: 2px;
    }
    #concept h3 {
        font-size: 12px;
        text-align: center;
        letter-spacing: 1em;
        color: #272727;
        padding: -1em 1em;
    }
}
/*SERVICII.........................................................................................................................................*/
.contentright li {
    font-size: 1.7em;
    padding: 0.8em;
    display: flex;
    justify-content: center;
}
#servicii li span{
    font-size:1em;
    font-weight: 600;
    color: #565554;
}
#servicii, #programari, #articole, #programari {
    width: 100%;
    display: table;
    content: "";
    clear: both;
}
#servicii .buton {
    position: absolute;
    margin-left: 74em;
    margin-top: 9em;
}
#servicii .prog {
    position: relative;
    margin: auto;
    padding: 17px 13px;
    transition: all .2s ease;
}
#servicii a.prog:hover::before {
    width: 87%;
    transform: translateX(0);
}
@media only screen and (max-width: 650px) {
    #servicii .contentright {
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: 100%;
        float: none;
        padding-top: 54em;
        padding-bottom: 1em;
    }
    .contentright li {
        font-size: 1.5em;
    }
    #servicii .cover2 img {
        width: 100%;
    }
    #servicii {
        height: 165vh;
        display: flex;
        align-content: center;
        flex-direction: column;
    }
    #servicii .buton {
        position: absolute;
        order: 3;
        padding: 15em 2em 2em 1em;
        margin: 0;
    }
}
/*ARTICOLE*........................................................................................................................................./*/
#articole {
    height: 100%;
    padding-top: 7em;
}
.row {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
.single-blog {
    box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.2);
    padding: 10px;
    background-color: #fff;
}
.single-blog img {
    width: 100%;
}
.single-blog span {
    float: right;
    font-size: 14px;
}
.blog-text {
    font-size: 1rem;
    text-align: justify;
}
.single-blog h2 {
    margin-top: 10px;
    margin-left: 26px;
    font-size: 16px;
    color: #565554;
    text-decoration: none;
}
.buton {
    display: flex;
    align-content: flex-start;
    padding: 1em;
}
a.read {
    text-decoration: none;
    color: inherit;
}
.read {
    position: relative;
    margin: auto;
    padding: 7.2px 0px;
    transition: all .2s ease;
}
.read:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    border-radius: 28px;
    background-color: rgba(247, 147, 30, 0.76);
    width: 32px;
    height: 32px;
    transition: all .3s ease;
}
.read span {
    position: relative;
    font-size: 14px;
    font-weight: 900;
    letter-spacing: 0.25em;
    vertical-align: middle;
}
a.read:hover::before {
    width: 115%;
    transform: translateX(0);
}
a.read:active {
    transform: scale(0.90);
}
.reviews {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 3.5em;
}
@media only screen and (max-width: 650px) {
    #articole .contentleft {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
    }
    .row {
        display: flex;
        flex-direction: column;
    }
    #articole .contentright {
        float: none;
        display: flex;
        padding-bottom: 1em;
        width: 100%;
    }
    #articole {
        display: flex;
        flex-direction: column;
        height: 300vh;
    }
    .single-blog {
        padding: 1px;
        background-color: #fff;
    }
    .blog-text {
        font-size: 1em;
        text-align: justify;
    }
    .title {
        font-size: 1.7em;
        padding-top: 5em;
        padding-bottom: 1em;
        font-weight: bold;
    }
    .reviews iframe {
        width: 100%;
        height: 90%;
        padding-left: 1.6em;
        padding-top: 1em;
    }
}
/*PROGRAMARI........................................................................................................................................*/
#programari iframe, .form {
    margin-top: -1em;
    border-radius: 1em;
}
.form {
    display: flex;
    height: 500px;
    width: 700px;
    background: linear-gradient(to right, #565554 0%, lightgrey 70%);
    padding-top: 12em;
}
.container {
    flex: 0 1 700px;
    margin: auto;
    padding: 10px;
}
.screen-body {
    display: flex;
}
.screen-body-item {
    flex: 1;
    padding: 10px;
}
.screen-body-item.left {
    display: flex;
    flex-direction: column;
}
.form-title {
    display: flex;
    flex-direction: column;
    position: relative;
    color: #565554;
    font-size: 20px;
    margin-top: -2em;
}
.map {
    margin-top: 5em;
}
.app-contact {
    margin: 2em 0em 2em 4em;
    color: #1D1D1D;
    font-weight: bold;
    font-size: 1.1em;
}
#programari a {
    color: #1D1D1D;
    font-size: 16px;
    text-decoration: none;
}
.app-form-group {
    margin-bottom: 5px;
}
.app-form-group.message {
    margin-top: 40px;
}
.app-form-control {
    width: 100%;
    padding: 10px 0;
    background: none;
    border: none;
    border-bottom: 1px solid rgba(102, 102, 102, 0.4);
    color: grey;
    font-size: 14px;
    text-transform: uppercase;
    outline: none;
    transition: border-color .2s;
}
.app-form-control::placeholder {
    color: #666;
}
.app-form-control:focus {
    border-bottom-color: #F7931E;
}
#programari .read {
    position: relative;
    margin: auto;
    padding: 5px 2px;
    transition: all .2s ease;
}
#programari .read:hover::before {
    width: 87%;
    transform: translateX(0);
}
.form-title {
    padding-left: 2.5em;
}
#programari h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1.5em;
    font-size: 1.2em
}
#programari h2:nth-child(5) {
    font-size: 1.5em;
    flex-direction: row;
}
#programari h2:nth-child(5) a {
    font-size: 1em;
}
#programari h2:nth-child(2) {
    color: dimgrey;
}
@media screen and (max-width: 650px) {
    #programari .contentleft {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
    }
    #programari {
        display: flex;
        flex-direction: column;
        height: 100vh;
    }
    #programari .contentright {
        width: 100%;
        display: flex;
        flex-direction: column;
        margin-top: -5em;
    }
    .screen-body {
        flex-direction: column;
        padding: 2px;
    }
    .screen-body-item {
        padding: 1em;
    }
    #programari .read {
        padding: 2px 1px;
    }
    .map {
        margin-top: -4em;
    }
    .screen-body-item.left {
        margin-bottom: -500px;
    }
    .form {
        margin-left: 0em;
        margin-top: 2em;
    }
    .form-title {
        flex-direction: row;
        margin-top: 2em;
    }
    .form-title span {
        display: none;
    }
    .app-title:after {
        display: none;
    }
    .app-form-control::placeholder {
        color: #2B2B2B;
    }
    #programari h2:nth-child(5) {
        font-size: 1.5em;
        flex-direction: column;
    }
    .social{
        display:flex;
        align-content: center;
        align-items: center;
        flex-direction: row;
        width:100%;
    }
    
}